.DS_Store
*.iml
*.ipr
*.iws
*.orig
*.rej
**/.keep
*.sdf
*.suo
*.vcxproj.user
.hugo_build.lock
.idea
.classpath
.project
.settings
target
build
patchprocess
dependency-reduced-pom.xml
.mvn/wrapper/maven-wrapper.jar
.vscode/
